  
  /* COPIAR ESTE CODIGO EN SUS CSS PARA QUE SE ADAPTE EL NAVBAR (MENÚ) */
  
  
  .nav_color {
    background-color: #2A3233;
  }

  .login_color {
    background-color: #3B565C;
    color: white;
  }