  
  /* LLAMAR ESTE CODIGO EN SUS INDEX (HEAD) CON ETIQUETA LINK */
  
  
  .nav_color {
    background-color: #2A3233;
  }

  .login_color {
    background-color: #3B565C;
    color: white;
  }


  .nav-link.active {
  font-weight: bold;
  color: #FFD700 !important; /* dorado por ejemplo */
  border-bottom: 2px solid #FFD700;
}
